# Private keys
*.pem

# Windows files
desktop.ini
Thumbs.db
.DS_Store

# Backend
backend/.env
backend/venv/
backend/__pycache__/
backend/*.pyc

# Frontend
frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/dist/

# IDE
.vscode/
.idea/